In [7]:
%pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.10/dist-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)

In [10]:
from ucimlrepo import fetch_ucirepo
import pandas as pd

# fetch dataset
adult = fetch_ucirepo(id=2)

# data (as pandas dataframes)
x = adult.data.features
y = adult.data.targets

In [11]:
dataset = pd.merge(x, y, left_index=True, right_index=True)

In [12]:
len(dataset.columns)

15

In [13]:
dataset.isnull().sum()

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

In [14]:
dataset['race'].nunique()

5

In [15]:
dataset['hours-per-week'].median()

40.0

In [17]:
if dataset.query('sex=="Male" & income==">50K"').sex.count() > dataset.query('sex=="Female" & income==">50K"').sex.count():
    print('Больше мужчин')
elif dataset.query('sex=="Male" & income==">50K"').sex.count() == dataset.query('sex=="Female" & income==">50K"').sex.count() :
    print('Равное количество')
else:
    print('Больше женщин')

Больше мужчин

In [18]:
dataset_red = dataset.fillna(dataset.mode().iloc[0])
dataset_red.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

Можно также заполнить медианным значением по всем столбцам

dataset_red = dataset.fillna(dataset.median(), inplace=True)

1)15

2)workclass, occupation, native_country

3)5

4)40.0

5)Мужчин